.container {
  width: 300px;
  height: 300px;
  position: relative;
  /* 可以打开下面的注释看看效果 */
  /* border: 1px solid #000; */
  resize: both;
  overflow: auto;
}

.container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}

/* 去掉resize的icon */
.container::-webkit-resizer {
  display: none;
}
